:root {
  --mainclr: #239f85;
  --secclr: #ff5d22;
  --third: #dfe4e0;
  --mainafterclr: hsl(167, 81%, 79%);
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4caf50;
  color: #ffffff;
  text-align: center;
  padding: 1em;
}

section {
  max-width: 600px;
  margin: auto;
  padding: 40px;
  padding-top: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
section h1 {
  text-align: center;
  padding-bottom: 10px;
  font-size: x-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
}
section p {
  text-align: center;
  padding-bottom: 30px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

label {
  margin: 0;
}

input,
textarea,
select {
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 5px;
}
.form-label {
  height: 20px;
}
.button {
  color: #ffffff;
  padding: 10px;
  margin-bottom: 40px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

